<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/styles.css">
    <title>Home</title>
</head>
<body class="noScroll">
    <div class="title">
        <h1 class="text">BalVikasGuru</h1>
        <a class="sign-up" href="/home">Home</a>
    </div>
    <div class="content">
        <div class="entries-container">
            <form action="/save" method="post">
                <input type="text" class="title-input" name="title" placeholder="My title"><br>
                <textarea class="content-input" name="content" spellcheck="false"></textarea><br>
                <input type="submit" class="save-btn" id="save-button" value="Save">
            </form>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="/js/script.js"></script>
</body>
</html>